openapi: 3.2.0
info:
  title: BytePlus API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 1 operation(s) read from 10 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; BytePlus has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 1
    documentation: 0
    pages-with-code: 10
    pages-read: 10
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://api.byteplus.com
  - https://api.byteplus.com/api-explorer/debug?serviceCode=&version=
  - https://api.byteplus.com/api-explorer/debug?serviceCode=ecs&version=2020-04-01
  - https://api.byteplus.com/api-explorer/?serviceCode=ecs&version=2020-04-01
  - https://api.byteplus.com/api-docs/view?action=StartInstance&version=2020-04-01&serviceCode=ecs
  - https://api.byteplus.com/api-docs/view?action=StopInstance&version=2020-04-01&serviceCode=ecs
  - https://api.byteplus.com/api-docs/view?action=RebootInstance&version=2020-04-01&serviceCode=ecs
  - https://api.byteplus.com/api-docs/view?action=DeleteInstance&version=2020-04-01&serviceCode=ecs
  - https://api.byteplus.com/api-docs/view?action=DescribeInstances&version=2020-04-01&serviceCode=ecs
  - https://api.byteplus.com/api-docs/view?action=ModifyInstanceSpec&version=2020-04-01&serviceCode=ecs
servers:
- url: https://ecs.cn-beijing.byteplusapi.com.cn
tags:
- name: BytePlus API
paths:
  /:
    get:
      operationId: get
      tags:
      - BytePlus API
      summary: GET /
      x-source: https://api.byteplus.com
      parameters:
      - name: Action
        in: query
        required: false
        schema:
          type: string
      - name: DeploymentSetName
        in: query
        required: false
        schema:
          type: string
      - name: Granularity
        in: query
        required: false
        schema:
          type: string
      - name: Strategy
        in: query
        required: false
        schema:
          type: string
      - name: Version
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
      x-evidence:
        kind: code-example
        language: http
        snippet: "GET /?Action=CreateDeploymentSet&Version=2020-04-01&DeploymentSetName=testDeploymentSetName&Strategy=Availability&Granularity=host HTTP/1.1\nHost: ecs.cn-beijing.byteplusapi.com.cn\nRegion: cn-beijing\nServiceName: ecs\nResponse example\n{\n \"ResponseMetadata\": {\n \"RequestId\": \"2021110417394001022514606307*****\",\n \"Action\": \"CreateDeploymentSet\",\n \"Version\": \"2020-04-01\",\n \"Service\": \"ecs\",\n \"Region\": \""
components:
  schemas:
    GetResponse:
      type: object
      properties:
        ResponseMetadata:
          type: object
          properties:
            RequestId:
              type: string
            Action:
              type: string
            Version:
              type: string
              format: date
            Service:
              type: string
            Region:
              type: string
        Result:
          type: object
          properties:
            DeploymentSetId:
              type: string
